<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DataType, Version=1.0.0.0, Culture=neutral, PublicKeyToken=AA2762C5DB0E34F7"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>